<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <style media="screen">
    main {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;

    }
  </style>
</head>

<body class="text-center">
  <main>
    <form action="/code" method="post">
      <img class="mb-4" src="/image-missing.png" alt="" width="72" height="57">
      <h1 class="h3 fw-normal">Wir haben dir eine E-Mail geschickt</h1>
      <h2 class="h5 mb-3 fw-normal">Bitte gib den in ihr enthaltenen Code an!</h2>
      <div class="form-floating">
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="12345" name="code">
          <label for="floatingPassword">Code</label>
        </div>

        <div class="checkbox mb-3">
          <a href="/register" class="text-muted">zurück</a>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">©2021</p>
    </form>
  </main>
  <script src="/bootstrap.bundle.min.js" charset="utf-8"></script>
</body>

</html>
