<!DOCTYPE html>
<html lang="debug" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <title></title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <router-link to="/foo"></router-link>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md card  m-2" style="width: 100%">
        <img src="placeholder.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">Online seit {{date}} + {{interests}} Interessen bis jetzt</p>
          <button class="btn btn-primary">Interesse</button>
        </div>
      </div>
      <div class="col-md m-2 rounded-top border">
        <div class="bg-light rounded-top p-2 w-100">
          <h6>von {{name}}</h6>
          <small>Auf Exchange seit {{date_on}} + {{item_count}} Kleider online</small>
        </div>
        <article class="p-2">
          <h5>Über dieses Stück </h5>
          {{beschreibung}}
        </article>
      </div>
    </div>
  </div>
  <script src="/bootstrap.bundle.min.js" charset="utf-8"></script>

</body>

</html>
